:root {
  --fw-normal: 300;
  --fw-bold: 500;
}

body {
  color: var(--bs-dark);
  font-family: 'Quicksand', sans-serif;
  font-weight: var(--fw-normal);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited, a:focus {
  text-decoration: none;
}
h1, h2, h3, h4, h5, b, strong {
  font-weight: var(--fw-bold);
}

.fw-normal {
  font-weight: var(--fw-normal);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
